.content {
  p {
    margin-bottom: 1rem;
  }

  ul {
    li {
      list-style-position: inside;
      margin: 1rem;
    }
  }

  .button {
    width: 50%;
    margin-top: 3rem;

    a {
      color: #ffffff;
    }
  }
}

.finance{
  .balance {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.2rem;
  } 

  .lifetime {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.2rem;
  } 

  .lastUpdate {
    font-size: 0.8rem;
  }
}
