@import "../variables.scss";

.title{
    border: initial;
    padding: initial;
}

.priceNotification{
   color: #9A9A9A;
}

.radioButtonField{
   margin: 2rem 0 2rem 0;
}

.price{
   font-style: normal;
   font-weight: bold;
   font-size: 50px;
   line-height: 72px;
}
  
.buttons{
   margin-top: 1rem;
}