@import "../variables.scss";

.navbar {
    height: $sp-header-height;
    background-color: $menu-color;
    display: flex;

    padding: 1rem;

    .navbarBurger {
        margin-left: 0;

        span {
            background-color: #ffffff;
        }
    }
}