@import "../variables.scss";

.navbar {
    height: $sp-header-height;
    background-color: $menu-color;
    display: flex;

    padding: 1rem;

    .navbarBurger {
        margin: auto 0;
        height: 40px;
        div {
            transform: translate(-5px,5px);
            background-color: #ffffff;
            height:3px;
            width:30px;
            margin:auto;
            margin-bottom:10px;
        }
    }

    .logo {
        margin: auto 0;
    }

    .buttonWrapper {
        margin: auto 0;
        margin-left: auto;

        .button {
            border: 2px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 4px;
            color: #ffffff;
            text-decoration: none;
        }
    }
}