@import "../variables.scss";

.sidebar {
    height: 100vh;
    width: 200px;
    min-height: 100%;
    background-color: $menu-color;

    .menuContent {
        position: fixed;
        top: 1rem;

        a {
            box-sizing: border-box;
            border-radius: 0px 5px 5px 0px;
            padding-left: 1.5rem;
        }

        .activeLink {
            background-color: $menu-item-active-background-color;
            color: $menu-item-active-color;
        }
    }

    .logo {
        width: 160px;
        padding: 1rem 1rem 1rem 0;
    }

    .menuFooter {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        word-break: break-all;

        a {
            color: $menu-item-color;
        }
    }
}