$menu-color: #1A1D32;

.sidebar {
    height: 100vh;
    min-height: 100%;
    padding: 0 1rem;
    background-color: $menu-color;


    .menu_content {
        position: sticky;
        top: 1rem;
    }

    .logo {
        width: 80%;
        padding-bottom: 1rem;
    }


    a {
        box-sizing: border-box;
        border-radius: 5px;
        color: #ffffff;
    }

    .menu_footer {
        position: fixed;
        width: 100%;
        bottom: 1rem;
        word-break: break-all;
    }
}