// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all";
// Import variables
@import "./variables.scss";
// Import Bulma and Buefy styles
@import "../node_modules/bulma/bulma.sass";

.title {
    color: #555555;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 1rem;
    border-left: 5px solid $primary;
    padding-left: 1rem;
}

.title.pagetitle {
    border: initial;
    padding-left: 0;
}

.title.pagetitle:before {
    content: "";
    background-image: url("/images/Twintelogo-color.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background-size: contain;
    vertical-align: middle;
}

// カードを使いやすいように再定義
.card {
    background: #ffffff;
    box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}