// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: #00c0c0;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// メニューバーの色設定
$menu-item-active-background-color: #c3eaf7;
$menu-item-active-color: #1a1d32;
$menu-item-hover-color: #1a1d32;
$menu-item-color: #ffffff;
$menu-item-radius: 0;
$menu-list-link-padding: 0.8rem;

// デフォルトのテキストの色
$text: #555555;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white,
        $black),
    "black": ($black,
        $white),
    "light": ($light,
        $light-invert),
    "dark": ($dark,
        $dark-invert),
    "primary": ($primary,
        $primary-invert),
    "info": ($info,
        $info-invert),
    "success": ($success,
        $success-invert),
    "warning": ($warning,
        $warning-invert),
    "danger": ($danger,
        $danger-invert),
    "twitter": ($twitter,
        $twitter-invert));

// Links
$link: #4c94bd;
$link-invert: findColorInvert(#4c94bd);
$link-focus-border: #4c94bd;

// Import Bulma and Buefy styles
@import "../node_modules/bulma/bulma.sass";
// @import "~buefy/src/scss/buefy";

.title {
    color: #555555;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 1rem;
    border-left: 5px solid #00c0c0;
    padding-left: 1rem;
}

.title.pagetitle {
    border: initial;
    padding-left: 0;
}

.title.pagetitle:before {
    content: "";
    background-image: url("/images/Twintelogo-color.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background-size: contain;
    vertical-align: middle;
}

// カードを使いやすいように再定義
.card {
    background: #ffffff;
    box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}