// Set your colors
$primary: #00c0c0;
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// sp版 ヘッダーの高さ
$sp-header-height: 10vh;

// メニューバーの色設定
$menu-color: #1A1D32;
$menu-item-active-background-color: #c3eaf7;
$menu-item-active-color: #1a1d32;
$menu-item-hover-color: #1a1d32;
$menu-item-color: #ffffff;
$menu-item-radius: 0;
$menu-list-link-padding: 0.8rem;

// デフォルトのテキストの色
$text: #555555;

// Links
$link: #4c94bd;
$link-invert: findColorInvert(#4c94bd);
$link-focus-border: #4c94bd;